<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css"/>
</head>
<body>
  <div class="container">
    <section class="header red">
      <div class="top-nav green">
        <div class="logo">
          <i class="fas fa-bars"></i>
          <img  src="/images/hospital_logo.png" alt="logo-hospital">
        </div>
        <div class="intro">
          <div class="intro-icon">
            <h3 class="title">Specialist</h3>
            <span>Find a doctor by specialty</span>
          </div>
          <div class="intro-icon">
            <h3 class="title">Health facilites</h3>
            <span>Select clinic</span>
          </div>
          <div class="intro-icon">
            <h3 class="title">Doctor</h3>
            <span>Choose a good doctor</span>
          </div>
          <div class="intro-icon">
            <h3 class="title">Exam package</h3>
            <span>General health check</span>
          </div>

        </div>
        <div class="support">
           <span><i class="fas fa-question-circle"></i>Support</span>
        </div>
      </div>
      <div class="image-nav red">
        <div class="title-image">SPECIALIST MEDICAL EXAMINATION PLATFORM</div>
        <div class="btn-search">
          <i class="fas fa-search"></i>
          <input class="input-search" type="text" name="btnSearch" placeholder="Search...">
        </div>
      </div>
      <div class="bottom-nav green">
        <div class="bottom-item">
          <i class="fas fa-check"></i>
          <span>Big Hospital</span>
        </div>
        <div class="bottom-item">
          <i class="far fa-thumbs-up"></i>
          <span>Good Clinic</span>
        </div>
        <div class="bottom-item">
          <i class="fas fa-user-nurse"></i>
          <span>Good Doctor</span>
        </div>
        <div class="bottom-item">
          <i class="far fa-clock"></i>
          <span>Priority Examination</span>
        </div>
      </div>
           
    </section>
    <section class="popular-specialty">
  
    </section>
    <section class="hospital-and-clinic">
  
    </section>
    <section class="doctors">
  
    </section>
    <section class="handbook">
  
    </section>
    <section class="contact">
  
    </section>
    <footer>
  
    </footer>

  </div>
  


    <!-- <div class="topnav">
        <a class="active" href="">Home</a>
        <a href="get-data">DataTable</a>
        <a href="register">Registration</a>
        <a href="edit-user?id=1">Editing Info</a>
    </div>
      
      <div style="padding-left:16px">
        <h2>Hospital Management</h2>
        <p>Some content..</p>
      </div>
    <p><%= data %></p> -->
</body>
</html>



