<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css"/>
    <!-- Jquery and Slick slider -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./js/slick-slide.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
  <div class="container">
    <section class="header ">
      <div class="top-nav ">
        <div class="logo">
          <i class="fas fa-bars"></i>
          <img  src="/images/hospital_logo.png" alt="logo-hospital">
        </div>
        <div class="intro">
          <div class="intro-icon">
            <h3 class="title">Specialist</h3>
            <span>Find a doctor by specialty</span>
          </div>
          <div class="intro-icon">
            <h3 class="title">Health facilites</h3>
            <span>Select clinic</span>
          </div>
          <div class="intro-icon">
            <h3 class="title">Doctor</h3>
            <span>Choose a good doctor</span>
          </div>
          <div class="intro-icon">
            <h3 class="title">Exam package</h3>
            <span>General health check</span>
          </div>

        </div>
        <div class="support">
           <span><i class="fas fa-question-circle"></i>Support</span>
        </div>
      </div>
      <div class="image-nav">
        <div class="title-image">SPECIALIST MEDICAL EXAMINATION PLATFORM</div>
        <div class="btn-search">
          <i class="fas fa-search"></i>
          <input class="input-search" type="text" name="btnSearch" placeholder="Search...">
        </div>
      </div>
      <div class="bottom-nav ">
        <div class="bottom-item">
          <i class="fas fa-check"></i>
          <span>Big Hospital</span>
        </div>
        <div class="bottom-item">
          <i class="far fa-thumbs-up"></i>
          <span>Good Clinic</span>
        </div>
        <div class="bottom-item">
          <i class="fas fa-user-nurse"></i>
          <span>Good Doctor</span>
        </div>
        <div class="bottom-item">
          <i class="far fa-clock"></i>
          <span>Priority Examination</span>
        </div>
      </div>
           
    </section>
    <section class="popular-specialty">
      <div class="title-section " >
        <span class="span-title">Popular specialty</span>
        <div class="btn-view ">
          <a class="red" href="/"><span>ALL SPECIALITY</span></a>
        </div>
      </div>
      <div class="slide">
        <div class="my-slick-slide ">
          <div class="div-slide ">
            <div class="image-slide">
            </div>
            <div class="div-title">
              <span>Heart</span>
            </div>
          </div>
          <div class="div-slide">
            <div class="image-slide">
            </div>
            <div class="div-title">
              <span>Digest</span>
            </div>
          </div>
          <div class="div-slide ">
            <div class="image-slide">
            </div>
            <div class="div-title">
              <span>Sport</span>
            </div>
          </div>
          <div class="div-slide ">
            <div class="image-slide">
            </div>
            <div class="div-title">
              <span>Acupunture</span>
            </div>
          </div>
          <div class="div-slide ">
            <div class="image-slide">
            </div>
            <div class="div-title">
              <span>Nerve</span>
            </div>
          </div>
          
        </div>
      </div>
     </section>
     <section class="hospital-and-clinic">
      <div class="title-section " >
        <span class="span-title">Top Hospitals & Clinics</span>
        <div class="btn-view ">
          <a class="red" href="/"><span>ALL MEDICAL FACILITIES</span></a>
        </div>
      </div>
      <div class="slide">
        <div class="my-slick-slide">
          <div class="div-slide">
            <div class="image-slide">
            </div>
            <div class="div-title">
              <span>ABC Hospital</span>
            </div>
          </div>
          <div class="div-slide">
            <div class="image-slide">
            </div>
            <div class="div-title">
              <span>ABC Hospital</span>
            </div>
          </div>
          <div class="div-slide ">
            <div class="image-slide">
            </div>
            <div class="div-title">
              <span>ABC Hospital</span>
            </div>
          </div>
          <div class="div-slide">
            <div class="image-slide">
            </div>
            <div class="div-title">
              <span>ABC Hospital</span>
            </div>
          </div>
          <div class="div-slide">
            <div class="image-slide">
            </div>
            <div class="div-title">
              <span>ABC Hospital</span>
            </div>
          </div>
          
        </div>
      </div>
   
     </section>
     <section class="doctors">
      <div class="title-section " >
        <span class="span-title">Outstanding doctors</span>
        <div class="btn-view ">
          <a class="red" href="/"><span>ALL DOCTORS</span></a>
        </div>
      </div>
      <div class="slide">
        <div class="my-slick-slide ">
          <div class="div-slide ">
              <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
            <div class="info-doctor">
              <span class="name">Dr. Ben</span>
              <span class="speciality">Heart</span>
            </div>
            <span class="count-booking">1.000 bookings</span>
          </div>
          <div class="div-slide ">
            <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
            <div class="info-doctor">
              <span class="name">Dr. Ben</span>
              <span class="speciality">Heart</span>
            </div>
            <span class="count-booking">1.000 bookings</span>
          </div>
        <div class="div-slide ">
          <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
          <div class="info-doctor">
            <span class="name">Dr. Ben</span>
            <span class="speciality">Heart</span>
          </div>
          <span class="count-booking">1.000 bookings</span>
        </div>
      <div class="div-slide ">
        <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
        <div class="info-doctor">
          <span class="name">Dr. Ben</span>
          <span class="speciality">Heart</span>
        </div>
        <span class="count-booking">1.000 bookings</span>
      </div>
    <div class="div-slide ">
      <img src="../images/speciality/speciality1.jpg" alt="image-doctors">
      <div class="info-doctor">
        <span class="name">Dr. Ben</span>
        <span class="speciality">Heart</span>
      </div>
      <span class="count-booking">1.000 bookings</span>
    </div>
          
        </div>
      </div>
      
   
     </section>
     <section class="handbook">
      <div class="title-section " >
        <span class="span-title">Handbooks</span>
        <div class="btn-view ">
          <a class="red" href="/"><span>ALL POSTS</span></a>
        </div>
      </div>
      <div class="slide">
        <div class="handbook-slide ">
          <div class="div-slide ">
            <img src="../images/speciality/speciality1.jpg" alt="image the post">
            <div class="info-post">
              <span class="title-post">My first post</span>
              <div class="summary-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id eum voluptate quos voluptas? Iure ipsa quasi at tempore perspiciatis quia quod officiis illo, labore sint recusandae modi excepturi mollitia cum.</div>
            </div>
            </div>
          
          <div class="div-slide ">
            <img src="../images/speciality/speciality1.jpg" alt="image the post">
            <div class="info-post">
              <span class="title-post">My first post</span>
              <div class="summary-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id eum voluptate quos voluptas? Iure ipsa quasi at tempore perspiciatis quia quod officiis illo, labore sint recusandae modi excepturi mollitia cum.</div>
            </div>
            </div>
          
          <div class="div-slide ">
            <img src="../images/speciality/speciality1.jpg" alt="image the post">
            <div class="info-post">
              <span class="title-post">My first post</span>
              <div class="summary-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id eum voluptate quos voluptas? Iure ipsa quasi at tempore perspiciatis quia quod officiis illo, labore sint recusandae modi excepturi mollitia cum.</div>
            </div>
            </div>
         
          <div class="div-slide ">
            <img src="../images/speciality/speciality1.jpg" alt="image the post">
            <div class="info-post">
              <span class="title-post">My first post</span>
              <div class="summary-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id eum voluptate quos voluptas? Iure ipsa quasi at tempore perspiciatis quia quod officiis illo, labore sint recusandae modi excepturi mollitia cum.</div>
            </div>
            </div>
        </div>
       </section>
       <section class="contact">
        <div class="left-side">
            <span class="title">For Doctors</span>
            <span class="second-title">Building credibility and online brand</span>
            <span class="third-title">Increasing the number of patients and effective management</span>
            <a class="btn-contact"><span>contact for co-operation</span></a>
        </div>
        <div class="right-side auto-resizable-iframe">
          <div>
            <iframe 
            src="https://www.youtube.com/embed/nboXZdmbjBk" title="YouTube video player" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
          </iframe>
          </div>
        </div>
      
       </section>
       <footer>
        <span>Good Will Hospital</span>
       </footer>
   
     </div>
     
   
   
       <!-- <div class="topnav">
           <a class="active" href="">Home</a>
           <a href="get-data">DataTable</a>
           <a href="register">Registration</a>
           <a href="edit-user?id=1">Editing Info</a>
       </div>
         
         <div style="padding-left:16px">
           <h2>Hospital Management</h2>
           <p>Some content..</p>
         </div>
       <p><%= data %></p> -->
   </body>
   </html>
        

   
        
            
  
   
  
   
          
