.red {
  border: 1px solid red; }

.green {
  border: 1px solid green; }

body {
  margin: 0;
  padding: 0; }

.container {
  margin: 0 20px; }

.header {
  height: 600px; }
  .header .top-nav {
    height: 100px;
    display: flex;
    flex-direction: row; }
    .header .top-nav .logo {
      width: 20%;
      display: flex;
      flex-direction: row;
      margin-top: 20px; }
      .header .top-nav .logo img {
        margin-left: 15px;
        height: 50%; }
      .header .top-nav .logo i {
        margin-left: 15px;
        margin-top: 7px;
        font-size: 30px;
        opacity: 0.5; }
    .header .top-nav .intro {
      width: 60%;
      display: flex;
      flex-direction: row; }
      .header .top-nav .intro .intro-icon {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 20px; }
        .header .top-nav .intro .intro-icon h3 {
          margin: 0; }
        .header .top-nav .intro .intro-icon span {
          display: block; }
    .header .top-nav .support {
      width: 20%;
      padding-top: 30px; }
  .header .image-nav {
    height: 400px;
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .header .image-nav .title-image {
      color: #58a6c7;
      font-size: 35px; }
    .header .image-nav .btn-search {
      border: 1px solid grey;
      border-radius: 25px;
      padding: 10px;
      background-color: #f7d800;
      display: flex;
      flex-direction: row;
      width: 40%; }
      .header .image-nav .btn-search .input-search {
        width: 100%;
        border: none;
        outline: none;
        background-color: #f7d800; }
  .header .bottom-nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    width: 100%; }
    .header .bottom-nav .bottom-item {
      display: flex;
      flex-direction: column;
      width: 25%;
      justify-content: center;
      align-items: center; }
      .header .bottom-nav .bottom-item span {
        display: block; }
      .header .bottom-nav .bottom-item i {
        color: #58a6c7; }
